# requirements.txt

# Systems and database libraries
IPython

# Data manipulation/analysis libraries
pandas==2.1.1
numpy==1.23.5
datetime

# Stats
scipy==1.11.3
statsmodels==0.13.5
mlxtend==0.23.0
scikit-learn==1.2.2
autofeat==2.1.2

# Visualization
seaborn==0.13.0
matplotlib==3.8.0
plotly==5.17.0

# Formatting
black==23.9.1
jupyter_black

# Import functions
alabaster==0.7.13
bleach==6.1.0
certifi==2023.7.22
cffi==1.16.0
click==8.1.7
colorama==0.4.6
decorator==5.1.1
defusedxml==0.7.1
jsonschema==4.19.1
jupyter==1.0.0
jupyter-console==6.6.3
jupyterlab==4.0.7
kiwisolver==1.4.5
matplotlib==3.8.0
nbconvert==7.9.2
notebook==7.0.6
prometheus-client==0.17.1
prompt-toolkit==3.0.39
psutil==5.9.5
pytz==2023.3.post1
tqdm==4.66.1
traitlets==5.11.2
widgetsnbextension==4.0.9
